ASSISTANT_PORT=4100
ASSISTANT_MODEL=doubao-seed-1-8-251228
ASSISTANT_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ASSISTANT_ASSET_BASE=http://localhost:3000
ARK_API_KEY=YOUR_ARK_API_KEY
ASSISTANT_CACHE_TTL_MS=1800000
