110-lab.cn, www.110-lab.cn {
  encode gzip

  handle /api/* {
    reverse_proxy server:3000
  }

  handle /assistant/* {
    reverse_proxy assistant_service:4100
  }

  handle /uploads/* {
    reverse_proxy server:3000
  }

  root * /srv
  file_server
}
